### Import Packages and Data

In [8]:
import csv
import pandas as pd
import seaborn as sns
import itertools
import numpy as np

In [12]:
retail_data = pd.read_csv("Data/retail_price.csv") #676*30

# EDA

In [13]:
retail_data.head().T

,0,1,2,3,4
product_id,bed1,bed1,bed1,bed1,bed1
product_category_name,bed_bath_table,bed_bath_table,bed_bath_table,bed_bath_table,bed_bath_table
month_year,01-05-2017,01-06-2017,01-07-2017,01-08-2017,01-09-2017
qty,1,3,6,4,2
total_price,45.95,137.85,275.7,183.8,91.9
freight_price,15.1,12.933333,14.84,14.2875,15.1
unit_price,45.95,45.95,45.95,45.95,45.95
product_name_lenght,39,39,39,39,39
product_description_lenght,161,161,161,161,161
product_photos_qty,2,2,2,2,2
product_weight_g,350,350,350,350,350
product_score,4.0,4.0,4.0,4.0,4.0
customers,57,61,123,90,54
weekday,23,22,21,23,21
weekend,8,8,10,8,9
holiday,1,1,1,1,1
month,5,6,7,8,9
year,2017,2017,2017,2017,2017
s,10.267394,6.503115,12.071651,9.293873,5.555556
volume,3800,3800,3800,3800,3800
comp_1,89.9,89.9,89.9,89.9,89.9
ps1,3.9,3.9,3.9,3.9,3.9
fp1,15.011897,14.769216,13.993833,14.656757,18.776522
comp_2,215.0,209.0,205.0,199.509804,163.39871
ps2,4.4,4.4,4.4,4.4,4.4
fp2,8.76,21.322,22.195932,19.412885,24.324687
comp_3,45.95,45.95,45.95,45.95,45.95
ps3,4.0,4.0,4.0,4.0,4.0
fp3,15.1,12.933333,14.84,14.2875,15.1
lag_price,45.9,45.95,45.95,45.95,45.95

In [12]:
pd.DataFrame(retail_data.describe()).T

,count,mean,std,min,25%,50%,75%,max
qty,676.0,14.495562,15.443421,1.000000,4.000000,10.000000,18.000000,122.00
total_price,676.0,1422.708728,1700.123100,19.900000,333.700000,807.890000,1887.322500,12095.00
freight_price,676.0,20.682270,10.081817,0.000000,14.761912,17.518472,22.713558,79.76
unit_price,676.0,106.496800,76.182972,19.900000,53.900000,89.900000,129.990000,364.00
product_name_lenght,676.0,48.720414,9.420715,29.000000,40.000000,51.000000,57.000000,60.00
product_description_lenght,676.0,767.399408,655.205015,100.000000,339.000000,501.000000,903.000000,3006.00
product_photos_qty,676.0,1.994083,1.420473,1.000000,1.000000,1.500000,2.000000,8.00
product_weight_g,676.0,1847.498521,2274.808483,100.000000,348.000000,950.000000,1850.000000,9750.00
product_score,676.0,4.085503,0.232021,3.300000,3.900000,4.100000,4.200000,4.50
customers,676.0,81.028107,62.055560,1.000000,34.000000,62.000000,116.000000,339.00
weekday,676.0,21.773669,0.986104,20.000000,21.000000,22.000000,23.000000,23.00
weekend,676.0,8.658284,0.705600,8.000000,8.000000,9.000000,9.000000,10.00
holiday,676.0,1.494083,0.940430,0.000000,1.000000,1.000000,2.000000,4.00
month,676.0,6.192308,3.243455,1.000000,3.000000,6.000000,8.000000,12.00
year,676.0,2017.525148,0.499737,2017.000000,2017.000000,2018.000000,2018.000000,2018.00
s,676.0,14.644970,11.930276,0.484262,7.510204,11.316760,17.745704,100.00
volume,676.0,10664.627219,9172.801850,640.000000,3510.000000,8000.000000,15750.000000,32736.00
comp_1,676.0,79.452054,47.933358,19.900000,49.910000,69.900000,104.256549,349.90
ps1,676.0,4.159467,0.121652,3.700000,4.100000,4.200000,4.200000,4.50
fp1,676.0,18.597610,9.406537,0.095439,13.826429,16.618984,19.732500,57.23
comp_2,676.0,92.930079,49.481269,19.900000,53.900000,89.990000,117.888889,349.90
ps2,676.0,4.123521,0.207189,3.300000,4.100000,4.200000,4.200000,4.40
fp2,676.0,18.620644,6.424174,4.410000,14.485000,16.811765,21.665238,57.23
comp_3,676.0,84.182642,47.745789,19.900000,53.785714,59.900000,99.990000,255.61
ps3,676.0,4.002071,0.233292,3.500000,3.900000,4.000000,4.100000,4.40
fp3,676.0,17.965007,5.533256,7.670000,15.042727,16.517110,19.447778,57.23
lag_price,676.0,107.399684,76.974657,19.850000,55.668750,89.900000,129.990000,364.00

In [5]:
pd.DataFrame(
    [retail_data.dtypes,
     retail_data.nunique()],
     index=["datatype","unique_values"]
).T

                           datatype unique_values
product_id                   object            52
product_category_name        object             9
month_year                   object            20
qty                           int64            66
total_price                 float64           573
freight_price               float64           653
unit_price                  float64           280
product_name_lenght           int64            24
product_description_lenght    int64            46
product_photos_qty            int64             7
product_weight_g              int64            45
product_score               float64            11
customers                     int64            94
weekday                       int64             4
weekend                       int64             3
holiday                       int64             5
month                         int64            12
year                          int64             2
s                           float64           450
volume                        int64            40
comp_1                      float64            88
ps1                         float64             9
fp1                         float64           179
comp_2                      float64           123
ps2                         float64            10
fp2                         float64           242
comp_3                      float64           105
ps3                         float64             9
fp3                         float64           229
lag_price                   float64           307

In [45]:
#retail_data['product_category_name'].value_counts().to_frame().boxplot()

In [46]:
#retail_data[retail_data['qty']>retail_data['customers']][['product_category_name','qty', 'total_price', 'unit_price', 'customers','comp_1']]
visualize = retail_data[['product_id','product_category_name','qty','unit_price', 'freight_price','customers','comp_1','fp1']]

visualize[visualize['product_category_name']=='perfumery']
#product_count = retail_data['product_id'].value_counts().to_frame()s

,product_id,product_category_name,qty,unit_price,freight_price,customers,comp_1,fp1
93,perfumery1,perfumery,4,56.990000,18.452500,4,56.990000,18.452500
94,perfumery1,perfumery,7,56.990000,11.750000,7,56.990000,11.750000
95,perfumery1,perfumery,7,56.990000,13.588571,8,56.990000,13.588571
96,perfumery1,perfumery,17,56.990000,13.741176,18,56.990000,13.741176
97,perfumery1,perfumery,17,56.990000,12.292941,19,56.990000,12.292941
98,perfumery1,perfumery,20,56.990000,12.714000,27,56.990000,12.714000
99,perfumery1,perfumery,24,56.990000,13.820000,34,56.990000,13.820000
100,perfumery1,perfumery,10,56.990000,12.215000,15,56.990000,12.215000
101,perfumery1,perfumery,4,56.990000,14.557500,12,56.990000,14.557500
102,perfumery1,perfumery,14,50.490000,15.196429,18,50.490000,15.196429
103,perfumery1,perfumery,2,49.990000,13.665000,10,49.990000,13.665000
104,perfumery1,perfumery,8,49.990000,12.522500,13,49.990000,12.522500
105,perfumery1,perfumery,4,49.990000,12.280000,19,49.990000,12.280000
288,perfumery2,perfumery,1,142.500000,15.750000,8,56.990000,13.588571
289,perfumery2,perfumery,1,142.500000,9.190000,18,56.990000,13.741176
290,perfumery2,perfumery,2,142.500000,17.150000,19,56.990000,12.292941
291,perfumery2,perfumery,8,118.050000,14.293750,27,56.990000,12.714000
292,perfumery2,perfumery,12,118.000000,11.026667,34,56.990000,13.820000
293,perfumery2,perfumery,6,117.900000,14.038333,15,56.990000,12.215000
294,perfumery2,perfumery,11,117.888889,13.880909,12,56.990000,14.557500
295,perfumery2,perfumery,4,117.700000,15.175000,18,50.490000,15.196429
296,perfumery2,perfumery,8,117.975000,21.650000,10,49.990000,13.665000
297,perfumery2,perfumery,17,119.900000,15.852353,16,119.900000,15.852353
298,perfumery2,perfumery,14,119.178571,14.172857,14,119.178571,14.172857
299,perfumery2,perfumery,5,118.700000,15.978000,13,49.990000,12.522500
300,perfumery2,perfumery,17,116.906667,17.790588,19,49.990000,12.280000

In [14]:
data2017 = retail_data[retail_data['year']==2017]
cat_2017_count = data2017['product_id'].value_counts()
cat_2017_count[cat_2017_count >= 5].index

Index(['health7', 'health5', 'bed2', 'health9', 'cool1', 'computers4',
       'garden3', 'garden1', 'garden5', 'garden9', 'garden2', 'watches1',
       'cool5', 'health8', 'cool2', 'computers1', 'bed1', 'garden6',
       'garden10', 'computers3', 'garden7', 'watches6', 'watches3', 'watches2',
       'perfumery1', 'garden8', 'consoles2', 'garden4', 'consoles1',
       'watches7', 'health2', 'furniture1', 'furniture2', 'bed5', 'furniture3',
       'watches5', 'perfumery2', 'health1', 'cool4'],
      dtype='object', name='product_id')

In [15]:
data2017_5plus = data2017[data2017['product_id'].isin(cat_2017_count[cat_2017_count >= 5].index)]
data2017_5plus

,product_id,product_category_name,month_year,qty,total_price,freight_price,unit_price,product_name_lenght,product_description_lenght,product_photos_qty,...,comp_1,ps1,fp1,comp_2,ps2,fp2,comp_3,ps3,fp3,lag_price
0,bed1,bed_bath_table,01-05-2017,1,45.95,15.100000,45.950000,39,161,2,...,89.9,3.9,15.011897,215.000000,4.4,8.760000,45.95,4.0,15.100000,45.900000
1,bed1,bed_bath_table,01-06-2017,3,137.85,12.933333,45.950000,39,161,2,...,89.9,3.9,14.769216,209.000000,4.4,21.322000,45.95,4.0,12.933333,45.950000
2,bed1,bed_bath_table,01-07-2017,6,275.70,14.840000,45.950000,39,161,2,...,89.9,3.9,13.993833,205.000000,4.4,22.195932,45.95,4.0,14.840000,45.950000
3,bed1,bed_bath_table,01-08-2017,4,183.80,14.287500,45.950000,39,161,2,...,89.9,3.9,14.656757,199.509804,4.4,19.412885,45.95,4.0,14.287500,45.950000
4,bed1,bed_bath_table,01-09-2017,2,91.90,15.100000,45.950000,39,161,2,...,89.9,3.9,18.776522,163.398710,4.4,24.324687,45.95,4.0,15.100000,45.950000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
671,bed5,bed_bath_table,01-05-2017,1,215.00,8.760000,215.000000,56,162,5,...,89.9,3.9,15.011897,215.000000,4.4,8.760000,45.95,4.0,15.100000,214.950000
672,bed5,bed_bath_table,01-06-2017,10,2090.00,21.322000,209.000000,56,162,5,...,89.9,3.9,14.769216,209.000000,4.4,21.322000,45.95,4.0,12.933333,215.000000
673,bed5,bed_bath_table,01-07-2017,59,12095.00,22.195932,205.000000,56,162,5,...,89.9,3.9,13.993833,205.000000,4.4,22.195932,45.95,4.0,14.840000,209.000000
674,bed5,bed_bath_table,01-08-2017,52,10375.00,19.412885,199.509804,56,162,5,...,89.9,3.9,14.656757,199.509804,4.4,19.412885,45.95,4.0,14.287500,205.000000
675,bed5,bed_bath_table,01-09-2017,32,5222.36,24.324687,163.398710,56,162,5,...,89.9,3.9,18.776522,163.398710,4.4,24.324687,45.95,4.0,15.100000,199.509804

In [56]:
data2017_5plus.columns.tolist();

In [16]:
# Filter needed column
data2017_5plus_df = data2017_5plus[['product_id','qty','freight_price','unit_price','customers',
 'month', 'comp_1', 'fp1', 'comp_2', 'fp2', 'comp_3', 'fp3']]

# Get the count of product id and months
product_ids = data2017_5plus_df['product_id'].unique() #39
months = data2017_5plus_df['month'].unique() #12

# Create the full dataframe and fill in the existed data
all_combinations = pd.DataFrame(list(itertools.product(product_ids, months)), columns=['product_id', 'month']) #39*12
df_skeleton = pd.merge(all_combinations, data2017_5plus_df, on=['product_id', 'month'], how='left')

In [17]:
filled_df = df_skeleton

In [18]:
# function to fill in columns
def fill_in_data(df, col_to_fill, type):
    #get the min and max value for each of the product id
    min_max_value = data2017_5plus_df.groupby('product_id')[col_to_fill].agg(['min', 'max']).reset_index()
    
    df = pd.merge(df, min_max_value, on='product_id', how='left')
    if type == 'int':
        df[col_to_fill] = df.apply(lambda row: np.random.randint(row['min'], row['max']) if pd.isnull(row[col_to_fill]) else row[col_to_fill], axis=1)
    elif type == 'float':
        df[col_to_fill] = df.apply(lambda row: np.random.uniform(row['min'], row['max']) if pd.isnull(row[col_to_fill]) else row[col_to_fill], axis=1)
    
    df.drop(['min', 'max'], axis=1, inplace=True)
    
    return df

In [19]:
cont_columns_to_fill = ['freight_price','unit_price','comp_1','fp1','comp_2','fp2','comp_3','fp3']
int_col_to_fill = ['qty','customers']

for col in int_col_to_fill:
    filled_df = fill_in_data(filled_df, col, 'int')

for col in cont_columns_to_fill:
    filled_df = fill_in_data(filled_df, col, 'float')

filled_df

,product_id,month,qty,freight_price,unit_price,customers,comp_1,fp1,comp_2,fp2,comp_3,fp3
0,bed1,5,1.0,15.100000,45.950000,57.0,89.9,15.011897,215.000000,8.760000,45.95,15.100000
1,bed1,6,3.0,12.933333,45.950000,61.0,89.9,14.769216,209.000000,21.322000,45.95,12.933333
2,bed1,7,6.0,14.840000,45.950000,123.0,89.9,13.993833,205.000000,22.195932,45.95,14.840000
3,bed1,8,4.0,14.287500,45.950000,90.0,89.9,14.656757,199.509804,19.412885,45.95,14.287500
4,bed1,9,2.0,15.100000,45.950000,54.0,89.9,18.776522,163.398710,24.324687,45.95,15.100000
...,...,...,...,...,...,...,...,...,...,...,...,...
463,bed5,12,23.0,15.206073,174.465613,76.0,89.9,15.560559,198.150256,22.691810,45.95,14.655043
464,bed5,3,41.0,19.920284,199.012478,83.0,89.9,17.790667,204.497307,15.117464,45.95,13.852660
465,bed5,4,34.0,23.797529,202.531508,77.0,89.9,16.000847,178.017681,22.752341,45.95,13.414513
466,bed5,2,16.0,9.812323,165.681554,108.0,89.9,16.081965,167.436192,22.187610,45.95,13.700750
467,bed5,1,32.0,22.244748,170.448759,109.0,89.9,17.740537,204.006591,24.227704,45.95,13.124510

In [20]:
# Sort the DataFrame by 'product' and then by the custom-ordered 'month'
filled_df = filled_df.sort_values(by=['product_id', 'month'])
filled_df

,product_id,month,qty,freight_price,unit_price,customers,comp_1,fp1,comp_2,fp2,comp_3,fp3
11,bed1,1,1.0,14.733143,43.639727,73.0,89.887115,18.630819,65.205484,23.245041,40.987426,15.716820
10,bed1,2,5.0,14.364058,45.475562,97.0,89.884339,17.453099,185.687425,18.999624,43.728723,13.010678
8,bed1,3,10.0,14.037033,45.687827,93.0,88.882245,20.466866,54.836493,18.038615,41.347904,15.092544
9,bed1,4,3.0,14.194927,45.936346,45.0,89.807159,17.388698,196.198205,13.536965,41.089674,13.318322
0,bed1,5,1.0,15.100000,45.950000,57.0,89.900000,15.011897,215.000000,8.760000,45.950000,15.100000
...,...,...,...,...,...,...,...,...,...,...,...,...
423,watches7,8,2.0,13.845000,339.000000,48.0,160.669231,15.185385,339.000000,13.845000,179.900000,14.926667
424,watches7,9,1.0,13.940000,339.000000,54.0,148.778571,14.041111,339.000000,13.940000,164.570000,19.528000
425,watches7,10,10.0,13.455000,346.158000,43.0,134.900000,6.810000,346.158000,13.455000,232.490000,14.212500
426,watches7,11,9.0,14.275556,345.706667,91.0,133.000000,19.916667,108.000000,15.908462,174.433333,20.992778
427,watches7,12,11.0,16.102727,348.800000,73.0,149.000000,19.100000,108.000000,16.653846,185.960000,18.686000

In [113]:
filled_df.to_csv('Data/generated_data_complete.csv')